%student-card {
  width: 18%;
  margin: 1%;
  background-color: $gold;
  box-shadow: $box-shadow;

  .img-holder {
    height: 250px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.student-gryffindor {
  @extend %student-card;

  h2 {
    @include text(lg, $gryffindor);
  }
}